flynt-component[name='HeroHeaderHome'] {
  $parent-animation: parent-anim 50s linear infinite;
  $parent-animation-2: parent-anim-2 50s linear infinite;
  $child-animation: child-anim 50s linear infinite;
  $child-animation-2: child-anim-2 50s linear infinite;
  @mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }
    @keyframes #{$animation-name} {
      @content;
    }
  }

  .bubbles_wrapper {
    .bubble {
      &.one {
        left: 50px;
        animation: parent-anim 10s ease-in-out infinite alternate;
        transform-origin: 50% 120px;
      }

      &.two {
        left: 30px;
        margin-top: -120px;
        animation: parent-anim-2 15s linear infinite alternate;
        transform-origin: 50% 125px;
      }

      &.three {
        margin-top: -240px;
        left: 220px;
        animation: parent-anim 20s linear infinite alternate;
        transform-origin: 10% 200px;
      }
      
      &.four {
        margin-top: -200px;
        left: 290px;
        animation: parent-anim 25s ease-in-out infinite alternate;
        transform-origin: 40% 150px;
      }
    }
  }

  @keyframes parent-anim {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  @keyframes parent-anim-2 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-30deg);
    }
  }
  @keyframes child-anim {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-30deg);
    }
  }
  @keyframes child-anim-2 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  @keyframes parent-anim-five {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(70deg);
    }
  }
  @keyframes parent-anim-six {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-45deg);
    }
  }

}

@media (max-width: 640px) {
  flynt-component[name='HeroHeaderHome'] {
    .hearts_wrapper {
      width: 100vw;
      height: 40vh;
      top: 0;
      right: 0;
    }
    .heart {
      width: 60px;
      height: 60px;
      &.green {
        left: 20px;
        > div {
          font-size: 40px;
        }
      }
      &.pink {
        left: 10px;
        margin-top: -60px;
        > div {
          font-size: 40px;
        }
      }
      &.blue {
        margin-top: -120px;
        left: 80px;
        > div {
          font-size: 40px;
        }
      }
      &.purple {
        margin-top: -140px;
        left: 110px;
        > div {
          font-size: 40px;
        }
      }
      &.small {
        width: 30px;
        height: 30px;
        &.yellow {
          margin-top: -45px;
          left: 100px;
          > div {
            font-size: 20px;
          }
        }
        &.orange {
          margin-top: -5px;
          left: 60px;
          > div {
            font-size: 20px;
          }
        }
      }
    }
  }
}
